<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection Category Bin</title>
    <link rel="stylesheet" href="/assets/css/recyCollection.css">
</head>
<body>
    <div class="headtoolbar">
        <h1 class="toolbar-title">Collection List Bin</h1>
      </div>

      
        <div id="searchBar">
            <p for="searchInput">Search</p>
            <input type="number" id="searchInput" placeholder="Search by Collection Name">
        </div>
    

<div id="table">
      <table id="tableProp">
        <tr>
            <th>Transaction #</th>
            <th>Memeber Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
</div>          
    </table>
</body>
</html>